.body{
    padding: var(--p-mobile);
}

.vrDescription{
    text-align: center;
    background-color: var(--c-white);
}

.descTitle{
    font-size: 2rem; 
    line-height: 1.2em; 
    margin: 3rem 0 1rem; 
}

.descP{
    font-family: var(--f-Alata);
    text-transform: none;
    color: var(--c-gray-dark)
}
.creations{
    margin-top: 5rem; 
   
}
.creationsTitle{
    text-align: center; 
    font-size: 2rem; 
    margin-bottom: 2rem;
}

.btn {
    cursor: pointer; 
    border: 2px solid #000; 
     width: 8rem; 
     text-align: center;
     margin: 1.5rem auto 0; 
     padding: .5rem 0; 
     font-family: var(--f-Alata);
    letter-spacing: .2em;
}

.btn:active{
    scale: .98; 
}

.btn:hover{
    color: var(--c-white); 
    background-color: var(--c-black)
}

@media (min-width: 750px) {
    .body{
        margin-top: 5rem; 
        padding: var(--p-desktop);
    }
    .creations{
        margin: 0 auto 7rem; 
        max-width: 1300px; 
    }

    .creationsTitle, .btn{
        margin: 0; 
    }

    .creationsTop{
        margin-bottom: 3rem;  
        display: flex; 
        justify-content: space-between;
        align-items: center; 
    }

    .top{
        display: flex; 
        margin-bottom: 8rem; 
        justify-content: center;
    }
    .vrPic{
        max-width: 600px; 
    }
    .vrDescription{
        max-width: 500px; 
        text-align: left; 
        padding: 3rem; 
        translate: -120px 120px; 
    }
}