.footer {
  background-color: var(--c-black);
  display: flex;
}
.footer.mobile {
  padding: 3rem 0;
  flex-direction: column;
  align-items: center;
}

.footer.desktop {
    padding: var(--p-desktop); 
    justify-content: space-between;
    align-items: flex-end; 
}

.copyright {
  color: var(--c-gray-dark);
  font-family: var(--f-Alata);
  text-transform: none;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
